{% extends "base.html" %}

{% set page_title = "Books" %}

{% block content %}
 <style>
body {
      background-image: url(/static/picture/tan_bg.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
       }
</style>
<br>
<div class="container">
    <div id="mydiv1">
        <h1  style="text-align: center"> Books  </h1>
             {% for book in books %}
                   <li> <a href="/books/{{book.book.id}}"> {{ book.book.id }} - {{ book.book.title }}</a> </li>
             {% endfor %} <br><br>
             {% if user %}
                <a href="/books/add_new" class="btn btn-primary" style="margin-left: 500px">Add Book</a> <br> <br>
             {% endif%}
             {% for i in range(1, total_pages + 1) %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endfor %}

    </div>
</div>
{% endblock %}