{% extends "base.html" %}

{% set page_title = "Home" %}

{% block content %}
 <style>
body {
      background-image: url('https://images.unsplash.com/photo-1521920592574-49e0b121c964?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b2xkJTIwbGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
       }
</style>
    <div class="container">
        <h2>Explore Our Vast Collection</h2>
        <p>Step into a world of classic literature and timeless wisdom.</p>
        <p>Our library is a treasure trove of knowledge, waiting for you to discover.</p>
    </div>
{% endblock %}