{% extends "base.html" %}
{% from "macros.html" import error_display with context %}

{% set page_title = "Login" %}

{% block content %}
<h1>Login</h1>
<form method="POST">
    {{ form.csrf_token }}
    <div class="mb-3" style="width: 400px;">
        <label for="username" class="form-label">Username: </label>
        <input type="text"
               class="form-control"
               {% if form.username.data %}
                value="{{ form.username.data }}"
               {% endif %}
               id="username"
               name="username"
               required
        >
        {{ error_display(form.username.errors) }}
    </div>
    <div class="mb-3" style="width: 400px;">
        <label for="password" class="form-label">Password: </label>
        <input type="password"
               class="form-control"
               {% if form.password.data %}
                value="{{ form.password.data }}"
               {% endif %}
               id="password"
               name="password"
               required
        >
        {{ error_display(form.password.errors) }}
    </div>
    <input class="btn btn-success" type="submit" value="Login">
</form>
{% endblock %}
